*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    display: flex;
    
}
header{
    padding-top: 26px;
    border-right: 1px solid #ccc;
    height: 1520px;
    width: 350px;
}
nav h1{
    font-size: 25px;
    font-weight: 400;
    padding: 12px ;
    border-bottom: 1px solid #ccc;
    color: rgb(25, 24, 24);
}
nav ul{
    list-style: none;
    
}
nav ul li{
    /* border-bottom: 1px solid #ccc; */
    padding: 22.34px;
    color: rgb(110, 110, 110);
    font-weight: 400;
    font-size: 22px;
}
nav ul li:hover{
    background-color: #ebebeb;
    transition: 0.3s ease-in-out;
}
/* Main section */
main{
    padding: 50px 0;
    max-width: 900px;
}
section{
    margin-bottom: 50px;
}
section article{
    padding-left: 50px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section h2{
    padding-left: 50px;
    font-size: 25px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    
}
section article ul{
    margin-left: 30px;
    padding-left: 50px;
}
section article ul li{
    margin-bottom: 10px;
    padding-left: 50px;
}
code{
    white-space: pre-line;
    line-height: 2;
    background-color: #f5f2f2;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}